
.mint_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


div.hidden{
    display: none;
}


.mint_video_container{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.mint_video{
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    right: 0;
    bottom: 0;
}

.mint_video.hidden{
    display: none;
}

.mint_ship_container{
    position: relative;
    width: 100%;
    height: 100%;
}

.ship{
    position: relative;
    height: 100%;
    /* width: 100%; */
    background-size: auto 100vh;
    background-position: center;
    background-image: url('https://ik.imagekit.io/6pl7k4a01ha/Mint/shipDesktop_xgAPp_BbR.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650122562356');
    background-repeat: no-repeat;
}

/* .mint_ship_container .ship{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} */

.mint_button{
    position: absolute;
    z-index: 3;
    width: 20vh;
    height: 12%;
    bottom: 11%;
    right: calc(50vw - 49vh);
    cursor: pointer;
}

.mint_button img{
    width: 100%;
    height: auto;
}

.mint_glow{
    pointer-events: none;
    position: absolute;
    z-index: 3;
    width: 20%;
    height: 20%;
    bottom: 7%;
    right: 19%;
    opacity: 0.7;
}

.mint_glow img{
    width: 100%;
    height: 100%;
}

.mint_glow.hidden{
    display: none;
}

.mint_bulb_light{
    pointer-events: none;
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.mint_left_display{
    position: absolute;
    z-index: 3;
    width: 15%;
    height: 21%;
    bottom: 27.5%;
    left: 4%;
    opacity: 0.7;
}

.mint_left_display img{
    width: 100%;
    height: 100%;
}


.mint_back_button {
    position: absolute;
    z-index: 3;
    width: 5%;
    height: 5%;
    top: 3%;
    left: 2%;
    cursor: pointer;
}
.mint_back_button img{
    width: 100%;
    height: auto;
}

.mine_right_light{
    position: absolute;
    z-index: 3;
    right: 21%;
    bottom: 17%;
    width: 23%;
    height: 33%;
}

.mine_right_light img{
    width: 100%;
    height: auto;
}


#ship_mobile{
    display: none;
}



@media screen and (max-aspect-ratio: 1/1) {
    .mint_back_button{
        width: 50px;
        height: 50px;
    }
    .mint_left_display {
        display: none;
    }
    /* #ship_mobile{
        display: block;
    }
    #ship_desktop{
        display: none;
    } */
    .ship{
        background-image: url('https://ik.imagekit.io/6pl7k4a01ha/Mint/mobile_bg-min_b3Mk2MPef.png?ik-sdk-version=javascript-1.4.3&updatedAt=1650681940802');
    }
    .mint_button{
        width: 16%;
        height: 14%;
        bottom: 21%;
        right: 6%;
        display: none;
    }
}

